# NOTE! Extensive requirements due to export from Azure environment. 
# Actual requirement file will follow without unneccessary packages. 
adal==1.2.7
alembic==1.13.2
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
argcomplete==3.5.0
astra==0.0.1
asttokens==2.0.5
attrs==23.2.0
autopage==0.5.2
azure-ai-ml==1.20.0
azure-common==1.1.28
azure-core==1.31.0
azure-graphrbac==0.61.1
azure-identity==1.17.1
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-network==26.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azure-storage-blob==12.22.0
azure-storage-file-datalake==12.16.0
azure-storage-file-share==12.17.0
azureml-core==1.57.0.post1
azureml-mlflow==1.57.0.post1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
blinker==1.6.2
blis==0.7.9
Bottleneck==1.3.7
Brotli==1.0.9
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
cliff==4.7.0
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmaes==0.10.0
cmd2==2.4.3
colorama==0.4.6
colorlog==6.8.2
comm==0.2.1
confection==0.1.4
contextlib2==21.6.0
contourpy==1.2.0
cryptography==42.0.5
cycler==0.11.0
cymem==2.0.6
databricks-sdk==0.32.1
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
docker==7.0.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
filelock==3.13.1
Flask==3.0.3
fonttools==4.51.0
gitdb==4.0.7
GitPython==3.1.43
gmpy2==2.1.2
google-api-core==2.19.2
google-auth==2.34.0
googleapis-common-protos==1.65.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.1
gunicorn==22.0.0
humanfriendly==10.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
idna==3.7
imbalanced-learn==0.12.3
importlib-metadata==7.0.1
ipykernel==6.28.0
ipython==8.25.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonpickle==3.3.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.2
kiwisolver==1.4.4
knack==0.11.0
langcodes==3.3.0
llvmlite==0.43.0
Mako==1.2.3
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.22.0
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.0
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mlflow==2.12.2
mlflow-skinny==2.16.2
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msrest==0.7.1
msrestazure==0.6.4.post1
murmurhash==1.0.7
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
networkx==3.3
numba==0.60.0
numexpr==2.8.7
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
openpyxl==3.1.2
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
optuna==2.10.1
packaging==24.1
pandas==2.2.2
paramiko==2.8.1
parso==0.8.3
pathspec==0.12.1
pbr==6.0.0
pexpect==4.8.0
pillow==10.3.0
pip==24.0
pkginfo==1.11.1
platformdirs==3.10.0
ply==3.11
portalocker==2.10.1
preshed==3.0.6
prettytable==3.10.0
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydash==8.0.3
Pygments==2.15.1
PyJWT==2.9.0
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==3.0.9
pyperclip==1.9.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pyts==0.12.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
querystring-parser==1.2.4
referencing==0.35.1
requests==2.32.2
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
scikit-learn==1.2.2
scipy==1.13.1
seaborn==0.13.2
SecretStorage==3.3.3
setuptools==69.5.1
shap==0.49.1
shellingham==1.5.0
sip==6.7.12
six==1.16.0
slicer==0.0.8
smart-open==5.2.1
smmap==4.0.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.30
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.2.0
stevedore==5.2.0
strictyaml==1.7.3
sympy==1.12
tabulate==0.9.0
thinc==8.2.2
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2a0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
triton==2.3.1
typer==0.9.0
typing_extensions==4.11.0
tzdata==2023.3
unicodedata2==15.1.0
urllib3==2.2.2
wasabi==0.9.1
wcwidth==0.2.13
weasel==0.3.4
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zipp==3.17.0
